<footer class="page-footer estilo-fonte font-small bg-rodape p-0 fixed">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex  justify-content-center">
        <h5 class="text-dark mt-3">Nossas redes sociais:</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a
              href="https://guerreirastechblog@gmail.com
              "
              target="_blank"
              class="icoEnvelope"
            >
              <i class="fa fa-envelope-square" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a
              href="https://github.com/JU7I0/GuerreirasTEch_Angular"
              target="_blank"
              class="icoGithub"
            >
              <i class="fa fa-github-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright estilo-fonte bg-line text-center py-3">
    <span class="text-dark"> © 2022 Copyright: </span>
    <a class="text-dark" target="_blank" href="https://brasil.generation.org">
      brasil.generation.org
    </a>
  </div>


</footer>
