<nav class="navbar navbar-light bg-transparent">
  <div class="container-fluid d-flex justify-content-">
    <div class="row">
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarToggleExternalContent2" aria-controls="navbarToggleExternalContent2"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
    </div>

    <div>
      <a href="#">Guerreiras Tech</a>
    </div>

    <div>
      <a href="#">Cadastro | Login</a>
    </div>
  </div>
</nav>

  <div class="collapse" id="navbarToggleExternalContent2">
    <div class="bg-transparentp-4">
      <button class="btn btn-link">Home</button>
      <button class="btn btn-link">Sobre nós</button>
      <button class="btn btn-link">Link 3</button>
    </div>
  </div>

  