<header class="container-fluid p-0 fixed-top">
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fa fa-bars tamanho" aria-hidden="true"></i>
    </label>

    <nav class="menu sidenav">
        <ul>
            <li class="mb-2">
                <div *ngIf="auth.logado()" class="d-flex align-content-center">
                    <div class="mx-3">
                        <img src="{{auth.foto}}" width="50px" height="50px" class=" border border-danger rounded rounded-circle" alt="foto_de_perfil">
                    </div>
                    <div class="mr-3 text-center">
                        <p class="estilo-fonte m-0 p-0" style="font-size: 14pt;">{{auth.nome}}</p>
                        <a class="text-dark" [routerLink]="['/usuario-edit', auth.id]">
                            <small class="font-weight-bold">EDITAR <i class="ml-2 fa fa-pencil" aria-hidden="true"></i></small>
                        </a>
                    </div>
                </div>
            </li>
            <li><a class="linkmenu" href="#">INÍCIO</a></li>
            <li><a class="linkmenu" *ngIf="auth.logado()" href="#" data-toggle="modal" data-target="#novaPostagem">NOVA POSTAGEM</a></li>
            <li><a class="linkmenu" href="#" data-toggle="modal" data-target="#sobreNos">SOBRE NÓS</a></li>
        </ul>
    </nav>

    <div class="container-fluid d-flex barra">
        <div class="col-md-4"></div>

        <div class="col-md-4 text-center align-self-center">
            <div>
                <p class="estilo-marca">GUERREIRAS TECH</p>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-end align-self-center">
            <div class="mr-5" *ngIf="!auth.logado()">
                <a class="estilo-fonte fsize " routerLink="/entrar">LOGIN</a>
            </div>
            <div class="mr-5" *ngIf="auth.logado()">
                <a  (click)="sair()" class="estilo-fonte fsize">SAIR <i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</header>

<!--! INÍCIO MODAL SOBRE NÓS-->
<div class="modal fade nav-2" id="sobreNos" tabindex="-1" role="dialog" 
aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header body">
        <h5 class="modal-title" id="staticBackdropLabel">Sobre Nós</h5>
        </div>

        <div class="modal-body body">
        <p>
            API desenvolvida como projeto final para conclusão do bootcamp da Generation Brasil. 
O Guerreiras Tech é uma iniciativa inspirada nos Objetivos de Desenvolvimento Sustentável (ODS) número 10 da ONU, que tem por objetivo empoderar e promover a inclusão social diminuindo a desigualdade.
<br>O que é a Guerreiras Tech ou GTech? Nós somos uma equipe que busca inovar no mercado atuando como feed de notícias totalmente ocupado por mulheres. Inspirado na garra na força de mulheres pernambucanas, carregamos a missão de incentivar e aproximar mulheres na tecnologia assim criamos uma rede de apoio mútua, onde mulheres encontraremos apoio, informação e muita troca de aprendizado com outras mulheres.
<br>Temos o objetivo de promover acolhimento às mulheres que desejam iniciar carreira na área de tecnologia.
        </p>
        <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
        </div>
<!-- ! FIM MODAL SOBRE NÓS-->