<div class="bg-img ">
    <div class="row">

    <div class="col-md-6"></div>
    
        <div class="col-md-6">
        <div class="text">
            <form class="col-md-8 my-5">
                <div class="col-md-12">
                    <h1 class="text-center mt-3">Cadastro</h1>
                <div class="form-group">
                <label for="nome">Nome:</label>
                <input
                    type="text"
                    class="form-control"
                    name="nome"
                    placeholder="Digite seu nome"
                    [(ngModel)]="usuario.nome"
                />
                </div>
                <div class="form-group">
                <label for="usuario">Usuário:</label>
                <input
                    type="text"
                    class="form-control"
                    name="usuario"
                    placeholder="Digite seu usuário"
                    [(ngModel)]="usuario.usuario"
                />
                </div>
                <div class="form-group">
                <label for="foto">Link da Foto:</label>
                <input
                    type="text"
                    class="form-control"
                    name="foto"
                    placeholder="Insira o link da sua foto"
                    [(ngModel)]="usuario.foto"
                />
                </div>
                <div class="form-group">
                <label for="senha">Senha:</label>
                <input
                    type="password"
                    class="form-control"
                    name="senha"
                    placeholder="Digite sua senha"
                />
                </div>
                <div class="form-group">
                <label for="confirmSenha">Confirmar senha:</label>
                <input
                    (input)="confirmSenha($event)"
                    type="password"
                    class="form-control"
                    name="confirmSenha"
                    placeholder="Digite sua senha"
                    [(ngModel)]="usuario.senha"
                />
                </div>
                <div class="form-group">
                <label for="tipo">Tipo de usuário:</label>
                <select name="tipo" id="tipo" class="form-control" (change)="tipoUser($event)">
                    <option value="">Selecione um tipo de usuário</option>
                    <option value="normal">Padrão</option>
                    <option value="adm">Administrador</option>
                </select>
                </div >
                <div class="d-flex justify-content-center mb-3">
                <button type="submit" class="btn btn-dark mr-4" routerLink="/entrar">Cancelar</button>
                <button type="submit" class="btn btn-dark" (click)="cadastrar()">Cadastrar</button>
                </div>
            </div>
            </form>
        </div>
        </div>
        <div class="col-md-6 img">
        
        </div>
    </div>
</div>
