 borda-redonda<div class="bg-img ">
    
    <div class="container-fluid">
    
        <div class="col-md-12 d-flex justify-content-center ">
        <div class="text">
            <form class="d-block mx-auto p-4 margem">
                <div class="col-md-12">
                    <h1 class="text-center mt-3">Cadastro</h1>
                <div class="form-group">
                <label for="nome">Nome:</label>
                <input
                    type="text"
                    class="form-control borda-redonda"
                    name="nome"
                    placeholder="Digite seu nome"
                    [(ngModel)]="usuario.nome"
                />
                </div>
                <div class="form-group">
                <label for="usuario">Usuário:</label>
                <input
                    type="text"
                    class="form-control borda-redonda"
                    name="usuario"
                    placeholder="Digite seu email"
                    [(ngModel)]="usuario.usuario"
                />
                </div>
                <div class="form-group">
                <label for="foto">Link da Foto:</label>
                <input
                    type="text"
                    class="form-control borda-redonda"
                    name="foto"
                    placeholder="Insira o link da sua foto"
                    [(ngModel)]="usuario.foto"
                />
                </div>
                <div class="form-group">
                <label for="senha">Senha:</label>
                <input
                    type="password"
                    class="form-control borda-redonda"
                    name="senha"
                    placeholder="Digite sua senha"
                />
                </div>
                <div class="form-group">
                <label for="confirmSenha">Confirmar senha:</label>
                <input
                    (input)="confirmSenha($event)"
                    type="password"
                    class="form-control borda-redonda"
                    name="confirmSenha"
                    placeholder="Digite novamente sua senha"
                    [(ngModel)]="usuario.senha"
                />
                </div>
                <div class="form-group">
                <label for="tipo">Tipo de usuário:</label>
                <select name="tipo" id="tipo" class="form-control borda-redonda" (change)="tipoUser($event)">
                    <option value="">Selecione um tipo de usuário</option>
                    <option value="normal">Padrão</option>
                    <option value="adm">Administrador</option>
                </select>
                </div >
                <div class="d-flex justify-content-center mb-3">
                <button type="submit" class="borda-redonda btn-cadastro btn-dark mr-3" routerLink="/entrar">Cancelar</button>
                <button type="submit" class="borda-redonda btn-cadastro btn-dark" (click)="cadastrar()">Cadastrar</button>
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>
</div>
