<div class="container-fluid marg">
  <div class="container">
    <h3 class="text-center">Editar usuario</h3>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <form>
          <div class="form-group">
            <label for="">Nome</label>
            <input type="text" class="form-control" name="nome" [(ngModel)]="usuario.nome">
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="usuario.usuario" disabled>
          </div>
          <div class="form-group">
            <label for="">Foto</label>
            <input type="text" class="form-control" name="imagem" [(ngModel)]="usuario.foto">
          </div>
          <div class="form-group">
            <label for="">Senha</label>
            <input type="password" class="form-control" name="senha" (input)="confirmSenha($event)">
          </div>
          <div class="form-group">
            <label for="">Confirmar Senha</label>
            <input type="password" class="form-control" name="confirmarSenha" [(ngModel)]="usuario.senha">
          </div>
          <div class="form-group">
            <label for="">Tipo de usuário</label>
            <select name="tipo" id="" class="form-control" (change)="tipousuario($event)">
              <option value="" selected disabled>Selecione o tipo de usuario</option>
              <option value="admin">Administrador</option>
              <option value="padrao">Padrão</option>
            </select>
          </div>
          <div class="d-flex justify-content-around">
            <button class="btn btn-danger w-33" routerLink="/entrar">Cancelar</button>
            <button class="btn btn-outline-dark w-33" (click)="atualizar()">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>