/* You can add global styles to this file, and also import other style files */

html{
    scroll-behavior: smooth;
}

body {
    background-image: url(assets/img/women-in-tech.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}