<body class="body">
    
    <div class="container">
        <h1 class="text-center margem"><b>QUEM SOMOS NÓS?</b></h1>
        <div class="row mt-2 d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <img class="align-items-center float-left logo" src="https://i.imgur.com/k0PKD6I.png" alt="logo-guerreiras">
            </div>

            <div class="col-md-6">
                <p class="text-justify font-size align-items-center">

                    O Guerreiras Tech é uma iniciativa inspirada nos Objetivos de Desenvolvimento Sustentável (ODS) 
                    número 10 da ONU, que tem por causa empoderar, promover a inclusão social e diminuição da 
                    desigualdade.
                    Somos uma equipe que busca inovar no mercado atuando como feed de notícias totalmente ocupado 
                    por mulheres e para mulheres. Inspirado na garra e força das mulheres pernambucanas, carregamos 
                    a missão de incentivar e aproximar mulheres na tecnologia, assim criamos uma rede de apoio mútua 
                    onde mulheres encontram suporte, informação e muita troca de aprendizado com outras mulheres.
                    Temos como meta promover acolhimento às mulheres que desejam iniciar carreira na área de 
                    tecnologia.
                </p>
            </div>


</div>
</div>


<div class="container-fluid mt-5">
    <div class="col-md-12 d-flex">
        
</div>
</div>

<div class="container-fluid">
<div class="row justify-content-center">
    <h2 class="text-center mt-3"><b>EQUIPE DESENVOLVEDORA</b></h2>

</div>
</div>

<div class="container-fluid mt-2">
<section id="card">
<div class="container">
<div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-4">
    <div class="card cards">
        <img src="https://i.imgur.com/V0N2inf.jpg?4" class="card-img-top mb-2" alt="Bruna Martins">
        <div class="card-body borda">
            <div align="center">
            <h4 class="card-title">Bruna Martins</h4>
            <div class="links-contatos">
                <a class="icon-github" href="https://github.com/brunamartinsh/" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a class="icon-linkedin" href="https://www.linkedin.com/in/bruna-martins-917b24234/" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a class="icon-envelope" href="mailto:">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </div></div>
      </div>
    </div>
</div>
    <div class="col mb-4">
      <div class="card cards">
        <img src="https://i.imgur.com/eFRJkCX.jpg?4" class="card-img-top mb-2" alt="Gabriela Felix">
        <div class="card-body borda">
            <div align="center">
            <h4 class="card-title">Gabriela Felix</h4>
            <div class="links-contatos">
                <a class="icon-github" href="https://github.com/gabifbdev/" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a class="icon-linkedin" href="https://www.linkedin.com/in/gabriela-felix-de-brito/" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a class="icon-envelope" href="mailto:gabriela_2008pe@hotmail.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </div></div>
      </div>
    </div>
</div>
    <div class="col mb-4">
      <div class="card cards text-dark">
        <img src="https://i.imgur.com/xmzZSZ1.jpg?1" class="card-img-top mb-2" alt="Julio Barros">
        <div class="card-body borda">
            <div align="center">
          <h4 class="card-title">Julio Barros</h4>
          <div class="links-contatos">
            <a class="icon-github" href="https://github.com/JU7I0" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a class="icon-linkedin" href="https://www.linkedin.com/in/juliocezarbarros/" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a class="icon-envelope" href="mailto:barrossilvajuliocezar@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
        </div>
         </div>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card cards">
        <img src="https://i.imgur.com/nqaIM0H.jpg?2" class="card-img-top mb-2" alt="Kamila Lima">
        <div class="card-body borda">
            <div align="center">
          <h4 class="card-title">Kamila Lima</h4>
          <div class="links-contatos">
            <a class="icon-github" href="https://github.com/kamilaaliima" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a class="icon-linkedin" href="https://www.linkedin.com/in/kamila-lima-falcao/" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a class="icon-envelope" href="mailto:kamilalimamf@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
        </div></div>
      </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 justify-content-center">
    <div class="col mb-5">
        <div class="card cards">
          <img src="https://i.imgur.com/BLtYpG2.jpg?2" class="card-img-top mb-2" alt="Kemelly Nascimento">
          <div class="card-body borda">
            <div align="center">
            <h4 class="card-title">Kemelly Pereira</h4>
            <div class="links-contatos">
                <a class="icon-github" href="https://github.com/kemellynasc" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a class="icon-linkedin" href="https://www.linkedin.com/in/kemelly-nascimento/" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a class="icon-envelope" href="mailto:kemellynasc@gmail.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </div></div>
        </div>
    </div>
    </div>
    <div class="col mb-5">
        <div class="card cards">
        <img src="https://i.imgur.com/UiUyTl8.jpg?1" class="card-img-top mb-2" alt="Laise Figueira">
        <div class="card-body borda">
            <div align="center">
            <h4 class="card-title">Laise Figueira</h4>
            <div class="links-contatos">
                <a class="icon-github" href="https://github.com/Laisefig" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a class="icon-linkedin" href="https://www.linkedin.com/in/laise-figueira/" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a class="icon-envelope" href="mailto:laise.of@gmail.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </div></div></div>
    </div>
    </div>
    <div class="col mb-5">
        <div class="card cards">
        <img src="https://i.imgur.com/zXDmp3T.jpg?1" class="card-img-top mb-2" alt="Lavínia Amorim">
        <div class="card-body borda">
            <div align="center">
            <h4 class="card-title">Lavínia Amorim</h4>
            <div class="links-contatos">
                <a class="icon-github" href="https://github.com/larvakent" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a class="icon-linkedin" href="https://www.linkedin.com/in/lavinia-amorim/" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a class="icon-envelope" href="mailto:lavinia.santos2105@gmail.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </div></div>
        </div>
    </div>
    </div>
</div></div></div>
</section>
</div>
</body>