p, h5{
  color: black;
}

#linha-horizontal{
  width: 300px;
  border: 1 px solid blue;
}

#linha-vertical{
  height: 200px;
  border-right: 1px solid red;
}

.alinhar{
  vertical-align: middle;
}

.body{
  background-color: #FFF8E9;
}

.borda-link{
  margin-top: 20px;
  margin-bottom: 20px;
  border-top:1px solid #AA5A58;
  border-bottom: 1px solid #AA5A58;
}

.estilo-img {
  margin-top: 10%;
}

.estilo-nav {
  width: auto;

  background: #fff8e928;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0);
}

.fonte{
font-size: 13pt;
}

.img-post{
width: 400px;
height: auto;
border-radius: 10px;
}

.img-insp{
  width: 250px;
  height: auto;
  border-radius: 100px;
  
}

.link{
    text-decoration: none;
    color: #AA5A58;
}

.link:hover{
    cursor: pointer;
    font-weight: bold;
}

.parallax {
  /* The image used */
    background-image: url(../../assets/img/fundo-menu.png);

  /* Full height */
    height: 100vh;

  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}