<body class="body">
  <div class="container-fluid parallax">
    <div class="container-fluid d-flex justify-content-center">
      <img class="estilo-img" src="../../assets/img/Logo-removebg-preview.png" alt="logo">
    </div>
  </div> 

  <div class="container-fluid d-flex p-0">


      <!-- ! início do menu lateral -->
      <div class="col-md-2 vh-100 p-0 m-0">
        <div class="sidenav">
          <a href="#about">INÍCIO</a>
          <a href="#services">SOBRE NÓS</a>
          <a href="#contact">QUADRO DE VAGAS</a>
          <button class="dropdown-btn m-0" data-toggle="collapse" data-target="#collapseExample">CATEGORIAS
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="collapse" id="collapseExample">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>
      <!-- ! Final do menu lateral -->

      <!-- * Inicio de postagens -->
      <div class="col-md-8 vh-100 bg-dark"></div>
      <!-- * Final de postagnes -->

      <!--Início da barra contribuidores -->
      <div class="col-md-2 vh-100 bg-secondary"></div>
      <!-- Final da barra de contribuidores -->
    </div>




</body>


<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" 
aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label for="titulo">Título</label>
                <input [(ngModel)]="postagem.titulo" type="text" class="form-control" id="texto" placeholder="Insira um título">
            </div>

        <div class="form-group">
            <label for="texto">Texto</label>
            <textarea [(ngModel)]="postagem.texto" class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="texto">Escolha um tema ou <a data-dismiss="modal" routerLink="/categorias">cadastre um novo</a>: </label>
            <select name="tema" id="tema" class="form-control" [(ngModel)]="idCategoria" (change)="findByIdCategoria()">
                <option *ngFor="let item of listaCategorias" value="{{item.id}}">{{item.categoria}}</option>
            </select>
        </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="publicar()" data-dismiss="modal">Publicar</button>
        </div>