<body class="body">
  <div class="container-fluid parallax">
    <div class="container-fluid d-flex justify-content-center">
      <img class="estilo-img" src="../../assets/img/Logo-removebg-preview.png" alt="logo">
    </div>
  </div> 

  <div div class="container bg-light pt-1">
      <div class="row d-flex justify-content-center mb-1 body">
        <div class="borda-link">
          <a class="link" href="#">SOBRE NÓS | </a>
          <a class="link" href="#">MULHERES INSPIRADORAS | </a>
          <a class="link" href="#">TODAS AS PUBLICAÇÕES</a>
        </div>
      </div>
  </div>

  

</body>