<div class="body">
  <div class="container-fluid parallax">
    <div class="container-fluid d-flex justify-content-center">
      <img class="estilo-img mt-2" src="../../assets/img/Logo-removebg-preview.png" alt="logo">
    </div>
  </div>
  </div>

<!--Carousel-->

  <div id="carouselExampleFade" class="carousel slide carousel-fade body" data-ride="carousel">
    <ol class="carousel-indicators">
      <li class="bg-dark" data-target="#carouselExampleFade" data-slide-to="0"></li>
      <li class="bg-dark" data-target="#carouselExampleFade" data-slide-to="1"></li>
      <li class="bg-dark" data-target="#carouselExampleFade" data-slide-to="2"></li>
    </ol>
  
    <div class="carousel-inner d-flex justify-items-center pl-5 pb-5 pt-5">
        <div class="carousel-item active">
          <div class="col.md-2">
            <img class="img-insp" src="../../assets/img/debora-falcao.jpg" alt="mulher sentada em um banco">
          </div>
          
            <div class="carousel-caption d-none d-md-block col-md-8">
              <h5>Débora Falcão</h5>
              <p>
                "Tecnologia não era minha primeira opção, tentei engenharia civil, mas parti para a segunda opção, que era a 
                área de TI. Tive uma turma muito unida, apesar de 90% da sala ser masculina. Eu sempre trabalhei com a 
                parte de análise de dados, business inteligence, visualização de dados e me sinto realizada nesse meio. <br> 
                Um desafio foi deixar o antigo trabalho onde fiquei cerca de 8 anos para entrar de cabeça na Accenture. 
                O que me fez mudar? A possibilidade de crescimento. A mudança me trouxe alguns medos, mas no final deu tudo certo. 
                Gosto muito da profissional que tenho me tornado dia após dia e não me arrependo das escolhas que fiz."  
              </p>
            </div>
        </div>
    
        <div class="carousel-item">
          <img class="img-insp" src="../../assets/img/victoria-yolanda.jpeg"  alt="mulher cabelos cacheados de óculos de grau">
            <div class="carousel-caption d-none d-md-block ">
              <h5>Victoria Yolanda</h5>
              <p>
                "Entrar na área de tecnologia foi um divisor de águas na minha vida. Sair da 
                biologia para ser programadora iniciou com uma frustração na antiga área e 
                buscava algo que pudesse encher meus olhos tanto quanto a biologia enchia. 
                Eu que antes não me sentia capaz, que acreditava ser algo muito difícil de 
                aprender, me vi imersa em um novo universo que hoje amo e me dedico a aprender 
                cada vez mais.  Como toda área, tem os seus desafios. Constantemente eu estudo 
                e tento me manter atualizada, pra não ficar em um platô mental. As vezes também 
                acabo me comparando com outras pessoas que estão "mais a frente" que eu e me 
                pergunto por que não iniciei nessa carreira antes. Hoje já planejo tentar 
                mesclar um pouco das duas áreas, entrar em projetos que envolvam a biologia é 
                uma realidade!" 
              </p>
            </div>
        </div>
    
        <div class="carousel-item">
          <img class="img-insp " src="../../assets/img/louise-figueira.jpeg"  alt="mulher de cabelos cacheados e óculos de grau">
            <div class="carousel-caption d-none d-md-block ">
              <h5>Louíse Figueira</h5>
              <p>
                "Iniciei minha carreira na área da tecnologia através de Academia SAP promovida 
                pela empresa na qual fui contratada, sou Engenheira Eletricista e Técnica de 
                Informática, que me deu base para ingressar na área. O primeiro ano foi bastante
                desafiador, sem experiência, pouco conhecimento técnico, foi preciso empenho, 
                muita curiosidade e bastante estudo! Comecei a trabalhar no início da pandemia, minha 
                experiência é 100% home office, o que trouxe desafios além dos profissionais, 
                montar minha estrutura de trabalho em casa, organizar minha rotina, lidar com as 
                adversidades de trabalhar em casa e conseguir entregar os melhores resultados. 
                Com 2 anos e 3 meses de trabalho passei de Engenheira de Software Junior a Senior.
                Ainda aprendo coisas novas todos os dias, trabalhar com tecnologia é saber que os desafios serão diários, 
                mas com determinação você consegue passar por todos."
              </p>
            </div>
        </div>
    </div>
  </div>
<!--/Carousel-->

<!--TESTE-->
<div class="row my-4">
  <div class="container d-flex flex-column" id="postagens">
    <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active text-dark font-weight-bold" id="todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="todasPostagens" aria-selected="true">Todas as postagens</a>
      </li>
      <li class="nav-item" role="presentation">
        <a (click)="findByIdUsuario()" class="nav-link text-dark font-weight-bold" id="minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="minhasPostagens" aria-selected="false">Minhas Postagens</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link text-dark font-weight-bold" id="postagensTema-tab" data-toggle="tab" href="#postagensTema" role="tab" aria-controls="postagensTema" aria-selected="false">Postagens por tema</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <!-- ! Inicio do Todas Postagens -->
      <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="todasPostagens-tab">
        <div class="row">
          <div class="col-md-4" *ngFor="let postagem of listaPostagens">
            <p>{{postagem.titulo}}</p>
            <p>{{postagem.texto}}</p>
            <p>{{postagem.categoria.categoria}}</p>
            <p>{{postagem.usuario.nome}}</p>
          </div>
        </div>
      </div>
      <!-- ! Fim do Todas Postagens -->

      <!-- ? Inicio do Minhas Postagens -->
      <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="minhasPostagens-tab">
        <div class="row">
          <div class="col-md-3" *ngFor="let postagem of usuario.postagem">
            <p>{{usuario.nome}}</p>
            <p>{{postagem.titulo}}</p>
            <a [routerLink]="['/postagem-edit', postagem.id]">Editar</a>
            <a [routerLink]="['/postagem-delete', postagem.id]">Apagar</a>
          </div>
        </div>
      </div>
      <!-- ? Fim do Minhas Postagens -->

      <!-- * Inicio do Postagens por Tema -->
      <div class="tab-pane fade" id="postagensTema" role="tabpanel" aria-labelledby="postagensTema-tab">
        <div class="row flex-column" *ngFor="let tema of listaCategorias">
          <h3>{{categoria.categoria}}</h3>
          <div class="row">
            <div class="col-md-4" *ngFor="let postagem of tema.postagem">
              <p>{{postagem.titulo}}</p>
              <p>{{postagem.texto}}</p>
              <p>{{postagem.dataP}}</p>
              <p>{{postagem.usuario.nome}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- * Fim do Postagens por Tema -->
    </div>
  </div>
</div>
<!--/TESTE-->

  <div class="container-fluid d-flex body">
      <!-- * Inicio de postagens -->
      <div class="container-fluid p-2 col-md-9 bg-2 flex-column">
        <div class="tab-content" id="myTabContent">
<!-- ! Todas postagens -->
        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="todasPostagens-tab">
        <div class="row justify-content-center " *ngFor="let postagem of listaPostagens">
          <div class="col-md-4 d-flex">
              <img class="img-fluid img-post margem" src="{{postagem.foto}}"  alt="duas mulheres em frente do computador">
          </div>

          <div class="col-md-7 borda my-2">
            <h4>{{postagem.titulo}}</h4>
            <span>{{postagem.categoria.categoria}}</span>
            <p>{{postagem.texto}}</p>
            <small>
              {{postagem.dataP | date: 'dd/MM/yyyy'}} às {{postagem.dataP | date: 'HH:mm'}}
            </small>
            <p>por: {{postagem.usuario.nome}}</p>
            <a href="{{postagem.fonte}}" target="_blank">Leia a notícia aqui</a>
          </div>
        </div>
      </div>

        <!-- ! Todas postagens -->

        <!-- * Minhas postagens -->
        <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="minhasPostagens-tab">
          <div class="row justify-content-center" *ngFor="let postagem of usuario.postagem">
            
            <div class="col-md-4 d-flex">
              <img class="img-fluid img-post margem" src="{{postagem.foto}}"  alt="duas mulheres em frente do computador">
            </div>
            
            <div class="col-md-8 border border-dark rounded my-2">
              <h4>{{postagem.titulo}}</h4>
              <span>{{postagem.categoria.categoria}}</span>
              <p>{{postagem.texto}}</p>
              <small class="text-muted">
                  {{postagem.dataP | date: 'dd/MM/yyyy'}} às {{postagem.dataP | date: 'HH:mm'}}
                </small>
              <p>{{usuario.nome}}</p>
              <a href="" class="text-info mr-3" [routerLink]="['/postagem-edit', postagem.id]">Editar</a>
              <a href="" class="text-danger" [routerLink]="['/postagem-delete', postagem.id]">Apagar</a>
            </div>
          </div>
        </div>
        <!-- * Minhas postagens -->

        </div>
        



      </div>
      <!-- * Final de postagnes -->


      <!--Início da barra contribuidores -->
      <div class="col-md-2 bg-2 mb-3">
        <div class="text-center border-bottom">
        <img class="img-colab" src="https://i.imgur.com/MzyhSH5.jpg?2"  alt="">
        <p class="m-0 ">Bruna Martins</p>
        <small>5 Contribuições</small> <br>
        <a class="mr-2" href="https://www.linkedin.com/in/bruna-martins-917b24234/">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/brunamartinsh">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        </div>

        <div class="text-center border-bottom">
          <img src="https://i.imgur.com/Lb8KTco.jpg?2" class="img-colab" alt="">
          <p class="m-0">Gabriela Felix</p>
          <small>5 Contribuições</small> <br>
          <a class="mr-2" href="https://www.linkedin.com/in/gabriela-felix-de-brito/">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/gabifbdev">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
          </div>


          <div class="text-center border-bottom">
            <img src="https://i.imgur.com/xmzZSZ1.jpg?1" class="img-colab" alt="">
            <p class="m-0">Julio Barros</p>
            <small>5 Contribuições</small> <br>
            <a class="mr-2" href="https://www.linkedin.com/in/juliocezarbarros/">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/JU7I0">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            </div>


          <div class="text-center border-bottom">
            <img src="https://i.imgur.com/nqaIM0H.jpg?2" class="img-colab" alt="">
            <p class="m-0">Kamila Lima</p>
            <small>5 Contribuições</small> <br>
            <a class="mr-2" href="https://www.linkedin.com/in/kamila-lima-falcao/">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/kamilaaliima">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            </div>


            <div class="text-center border-bottom">
              <img src="https://i.imgur.com/BLtYpG2.jpg?1" class="img-colab" alt="">
              <p class="m-0">Kemelly Nascimento</p>
              <small>5 Contribuições</small> <br>
              <a class="mr-2" href="https://www.linkedin.com/in/kemelly-nascimento/">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="https://github.com/kemellynasc">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              </div>


            <div class="text-center border-bottom">
              <img src="https://i.imgur.com/UiUyTl8.jpg?1" class="img-colab" alt="">
              <p class="m-0">Laise Figueira</p>
              <small>5 Contribuições</small> <br>
              <a class="mr-2" href="https://www.linkedin.com/in/laise-figueira/">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="https://github.com/Laisefig">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              </div>


            <div class="text-center mt-2 mb-2">
              <img src="https://i.imgur.com/zXDmp3T.jpg?1" class="img-colab" alt="">
              <p class="m-0">Lavínia Amorim</p>
              <small>5 Contribuições</small> <br>
              <a class="mr-2" href="https://www.linkedin.com/in/lavinia-amorim/">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="https://github.com/larvakent">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              </div>

      </div>
      <!-- Final da barra de contribuidores -->
    </div>









<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" 
aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
              <label for="titulo">Título</label>
              <input [(ngModel)]="postagem.titulo" type="text" class="form-control" id="texto" placeholder="Insira um título">
          </div>

          <div class="form-group">
            <label for="texto">Texto</label>
            <textarea [(ngModel)]="postagem.texto" class="form-control" name="texto" id="texto" rows="3"></textarea>
          </div>

          <div class="form-group">
              <label for="titulo">Foto</label>
              <input [(ngModel)]="postagem.foto" type="text" class="form-control" id="texto" placeholder="Insira uma imagem, via link.">
          </div>

          <div class="form-group">
              <label for="titulo">Fonte</label>
              <input [(ngModel)]="postagem.fonte" type="text" class="form-control" id="texto" placeholder="É uma notícia? poderia inserir a fonte?">
          </div>

          <div class="form-group">
            <label for="texto">Escolha um tema ou <a data-dismiss="modal" routerLink="/categorias">cadastre um novo</a>: </label>
            <select name="tema" id="tema" class="form-control" [(ngModel)]="idCategoria" (change)="findByIdCategoria()">
                <option *ngFor="let item of listaCategorias" value="{{item.id}}">{{item.categoria}}</option>
            </select>
          </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="publicar()" data-dismiss="modal">Publicar</button>
        </div>